
body{
	background-image: url('https://images.pexels.com/photos/11276653/pexels-photo-11276653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 10px;
	margin: 40px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

p{
	transform:translateX(0px);
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: blue;
	font-size: 25px;
	font-weight: bold;
	padding: 9px;
  transform:translate(0px,30px);
	margin: -30px -90px 30px 80px;
}

th {
  color: #8080fe;
}

td{
	
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #08031e;
	font-size: 20px;
	font-weight: bold;
	padding:8px;
	transform:translate(0px,0px);
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
 textarea{
	resize:none;
	overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: blue;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
input[type="button"]:hover, 
input[type="submit"]:hover {
	background:linear-gradient(to bottom, black 5%, #170277 100%);
	background-color:#1c055f;
}

.order69{
  
  background-color:white;
  
}
.up{
  
  	background:linear-gradient(to bottom, purple 5%, #170277 100%);
	background-color:green;
  margin-top:10px;
  margin-right:20px;
  margin-left:-20px;
  
}
.can{
  
  	background:linear-gradient(to bottom, red 5%, black 100%);
	background-color:red; 
}
.pay{
    
    	background:linear-gradient(to bottom, green 5%, black 100%);
	background-color:black; 
  transform:translate(400px,-34px)
  
}